# Forcer CRLF pour les fichiers texte Windows
#*.cs       text diff=csharp
#*.cshtml   text diff=html
#*.csx      text diff=csharp
*.sln      text eol=crlf
*.slnx     text eol=crlf
*.csproj   text eol=crlf
*.cs     text eol=crlf
*.json   text eol=crlf
*.csv    text eol=crlf
*.txt    text eol=crlf

# Empêcher toute conversion automatique
*        -text
