<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Qognify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><applicationSettings>
        <Qognify.Properties.Settings>
            <setting name="CSVFilesPathWeb" serializeAs="String">
                <value>C:\ProjectsVS\WebAppQognify\WebQognify\CSVFile</value>
            </setting>
            <setting name="SendIntervalSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="qognifyIp" serializeAs="String">
                <value>192.168.1.23</value>
            </setting>
            <setting name="ExpiryNoSendSec" serializeAs="String">
                <value>10</value>
            </setting>
        </Qognify.Properties.Settings>
    </applicationSettings>
</configuration>
