<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  	<targets>

    <!-- 1) Fichiers journaliers -->
    <target xsi:type="File"
            name="daily"
            fileName="${var:logDir}/Qognify.log"
            archiveFileName="${var:logDir}/Qognify.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="40"
            layout="${longdate} | ${level:uppercase=true} | ${callsite-filename:includeSourcePath=False:padding=20:fixedLength=true} | ${callsite:padding=40:fixedLength=true} | ${callsite-linenumber:padding=3:fixedLength=true} | ${message} ${exception}" />

    <!-- 2) ZIP mensuel -->
    <target xsi:type="File"
            name="monthlyzip"
            fileName="${var:logDir}/dummy.log"
            archiveFileName="${var:logDir}/archive/app-${archiveDate}.zip"
            archiveEvery="Month"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM"
            maxArchiveFiles="12"
            enableArchiveFileCompression="true"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${longdate} | ${level} | ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="daily,monthlyzip" />
  </rules>

</nlog>
